Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
base = 0
number = [1,2,3,4,2,4]
for i in number:
  base= base+i

print(base)

16

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str = "abcdefg"
str1 = ""
for i in str:
  str1= i+str1

print(str1)

gfedcba

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num = int(input("Enter a number: "))
mul=0
for i in range(1,11):
   mul = num* i
   print(mul)

Enter a number: 2
2
4
6
8
10
12
14
16
18
20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
lst = [1,2,3,4,5,7,11,8,9]
even = []
odd = []
for i in lst:
  if i % 2 == 0:
     even.append(i)
  else:
      odd.append(i)

print("list of even:",even)
print("list of odd:",odd)

list of even: [2, 4, 8]
list of odd: [1, 3, 5, 7, 11, 9]

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  square= i*i
  print("square of",i,"is",square)

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
string = 'Hello'

count = 0

for i in string:

    count+=1
print(count)

5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
lst = [1,2,3,4]
sum=0
count = 0
for i in lst:
  sum = sum+ i
  count+=1

print("avrage is",sum/count)

avrage is 2.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
n = int(input("enter number:"))
first = 0
second = 1
print(first)
print(second)
for x in range(1,n+1):
    third = first + second
    print(third)
    first=second
    second=third

enter number:8
0
1
1
2
3
5
8
13
21
34

Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
lst = [1,2,2,3,1,2,4,3]
lst1 =[]
for i in lst:
  if i  not in lst1:
    lst1.append(i)
  else:
    print(i)

2
1
2
3

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for num in range(start, end + 1):
   if num > 1:
       for i in range(2, int(num**0.5) + 1):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter the start of range: 1
Enter the end of range: 10
2
3
5
7

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
str= input("enter string:")
print(str)
vowels=0
str1=str.lower()
print(str1)
for i in str1e:

  if (i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
      vowels+=1
print("no of vowels:",vowels)

enter string:DAta Sciencec
DAta Sciencec
data sciencec
no of vowels: 5

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
lst = [[1,2,3],[7,8,6]]
print(len(lst))
for i in range(len(lst)):
   print(max(lst[i]))

2
3
8

15.Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
# list with integer elements
list = [10, 20, 10, 30, 10, 40, 10, 50]
# number (n) to be removed
n = 10

# print original list
print ("Original list:")
print (list)

# loop to traverse each element in list
# and, remove elements
# which are equals to n
for x in list:
    if x == n:
        list.remove(x)

# print list after removing given element
print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements:
[20, 30, 40, 50]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for x in range(1,6):
  for y in range(1,11):
    mul= x*y
    print(x,"*",y,"=",mul)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
Fahrenheit= [54,34,56,56,58]
for x in Fahrenheit:
    Celsius = ((x-32)*5)/9
    print("Temperature in Celsius is: ",Celsius)

Temperature in Celsius is:  12.222222222222221
Temperature in Celsius is:  1.1111111111111112
Temperature in Celsius is:  13.333333333333334
Temperature in Celsius is:  13.333333333333334
Temperature in Celsius is:  14.444444444444445

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
lst1 =[1,2,3,4,5]
lst2=[1,2,4,6,7]
lst3=[]
for i in lst1:
  for j in lst2:
    if i==j:
      lst3.append(i)
print(lst3)

[1, 2, 4]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
# Python Program to Print Right Angled Triangle Star Pattern

lines = int(input("Please Enter the Total Number of Rows  : "))

print("Right Angled Triangle Star Pattern")
for i in range(1, lines + 1):
    for j in range(1, i + 1):
        print('*', end = '  ')
    print()

Please Enter the Total Number of Rows  : 7
Right Angled Triangle Star Pattern
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = 36
num2 = 60
gcd = 1

for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

GCD of 36 and 60 is 12

Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [3]:

res = [sum(map(int, str(x))) for x in range(1,1001)]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [7]:
Number = int(input(" Please Enter any Number: "))

for i in range(2, Number + 1):
    if(Number % i == 0):
        isprime = 1
        for j in range(2, (i //2 + 1)):
            if(i % j == 0):
                isprime = 0
                break

        if (isprime == 1):
            print(" %d is a Prime Factor of a Given Number %d" %(i, Number))

 Please Enter any Number: 12
 2 is a Prime Factor of a Given Number 12
 3 is a Prime Factor of a Given Number 12

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [17]:
lst=[1,2,3,1,2,4,1,5]
new_lst=[]
for x in lst:
  if x not in new_lst:
    new_lst.append(x)

print(new_lst)

[1, 2, 3, 4, 5]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [22]:

 lst = [121,132,141,232,234,567]
 lst1 = [i for i in lst if str(i) == str(i)[::-1]]
print(lst1)

[121, 141, 232]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
lst = [1,2,3,4,5,6,6,7]
odd = sum([x for x in lst if x%2 != 0])
even= sum([x for x in lst if x%2 == 0])
print("odd sum :",odd)
print("even sum:",even)

odd sum : 16
even sum: 18

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
odd= ([x*x for x in range(11) if x%2 != 0 ])

print(odd)

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = {k: v for k, v in zip(index, languages)}
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
str=input("type string:")
str1 = str.lower()
vowels = [x for x in str if x=='a' or x=='e' or x=='i'or x=='o' or x=='u']
print(vowels)

type string:hello world
['e', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
import re
lst = ['1Aarti', '2ira', '3ankita']
pattern = '[a-z]'
pattern1 = '[A-Z]'
lst = [re.sub(pattern, '', i) for i in lst]
lst =[re.sub(pattern1, '', i) for i in lst]
print(lst)

['1', '2', '3']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [32]:
n = int(input("enter limit:"))
noprimes = [j for i in range(2, n) for j in range(i*2, n, i)]
primes = [x for x in range(2, n) if x not in noprimes]
print(primes)

enter limit:10
[2, 3, 5, 7]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
n = int(input('Enter the value of n: '))
print([(a, b, c) for a in range(1, n + 1) for b in range(a, n + 1)
       for c in range(b, n + 1) if a**2 + b**2 == c**2])

Enter the value of n: 17
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
# initializing lists
list1 = [1, 3, 4]
list2 = [6, 7, 9]
list3 = [8, 10, 5]



# using list comprehension
# to compute all possible permutations
res = [[i, j, k] for i in list1 for j in list2 for k in list3]

# printing result
print ("All possible permutations are : " + str(res))

All possible permutations are : [[1, 6, 8], [1, 6, 10], [1, 6, 5], [1, 7, 8], [1, 7, 10], [1, 7, 5], [1, 9, 8], [1, 9, 10], [1, 9, 5], [3, 6, 8], [3, 6, 10], [3, 6, 5], [3, 7, 8], [3, 7, 10], [3, 7, 5], [3, 9, 8], [3, 9, 10], [3, 9, 5], [4, 6, 8], [4, 6, 10], [4, 6, 5], [4, 7, 8], [4, 7, 10], [4, 7, 5], [4, 9, 8], [4, 9, 10], [4, 9, 5]]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [13]:
from collections import Counter

num = [2,3,4,5,7,2]

mean = sum([i for i in num])/len(num)
print("The mean or average of all these numbers (", num, ") is",mean)

no = len(num)
num.sort()
if no % 2 == 0:
    median1 = num[no//2]
    median2 = num[no//2 - 1]
    median = (median1 + median2)/2
else:
    median = num[no//2]
print("The median of the given numbers  (", num, ") is", str(median))

val = Counter(num)
findMode = dict(val)
mode = [i for i, v in findMode.items() if v == max(list(val.values()))]
if len(mode) == no:
    findMode = "The group of number do not have any mode"
else:
    findMode = "The mode of a number is / are: " + ', '.join(map(str, mode))
print(findMode)

The mean or average of all these numbers ( [2, 3, 4, 5, 7, 2] ) is 3.8333333333333335
The median of the given numbers  ( [2, 2, 3, 4, 5, 7] ) is 3.5
The mode of a number is / are: 2

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [45]:
# Print Pascal's Triangle in Python
from math import factorial

# input n
n = 5
for i in range(n):
    for j in range(n-i+1):

        # for left spacing
        print(end=" ")

    for j in range(i+1):

        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")

    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [6]:
s=[]
s=[s[-1] for x in range(1,6) if not s.append(x*s[-1] if s else 1)]

print("factorial list from 1 to 5:",s)

res = [sum(map(int, str(x))) for x in s]
print(res)

factorial list from 1 to 5: [1, 2, 6, 24, 120]
[1, 2, 6, 6, 3]

In [ ]:
37. Write a program that finds the longest word in a sentence using list comprehension.

In [40]:
s="This is my statement"

longest_word_length = max(len(word) for word in s.split())
longest_word = [word for word in s.split() if len(word) == longest_word_length]
print(longest_word)

['statement']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [41]:
import re

fruits = ["mango", "kiwi", "strawberry", "guava", "pineapple", "mandarin orange"]
results = [i for i in fruits if len(re.sub(r"[^aeiouAEIOU]", "", i)) > 2]
print(results)

['guava', 'pineapple', 'mandarin orange']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [4]:
res = [sum(map(int, str(x))) for x in range(1,1001)]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [35]:
value = 200

prime = [x for x in range(2, value) if all(x % y != 0 for y in range(2, x)) if (str(x) == str(x)[::-1])]

print(prime)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191]